header {
    display: flex;
    position: fixed;
    margin-left: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    flex-direction: column;
    background: #1b1c21;
  }

  .day{
    color: #99989e;
  }

  .greeting{
    color:#fff;
  }