header {
  width: 100%;
    display: flex;
    position: fixed;
    margin-left: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    flex-direction: column;
  }

  .day{
    color: white;
  }

  .greeting{
    color:white;
  }