.Home {
  margin-left: 200px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 768px) {
    margin-left: 0;
  
    padding-left: 0;
    padding-right: 0;
  }

  .landscape {
    display: block;
    height: 170px;
    width: 100%;
    background-image: url("../landscape-night.gif");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-bottom: 30px;

  }
}
