.quote-container {
  width: 100%;
  max-width: 800px;

  .affirmation {
    color: black;
    font-size: 1.5em;
    font-family: "Roboto";
  }

  .quote {
    font-size: 0.9em;
    color: #c2c2c3;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Roboto";
  }

  .quote-icon-container {
    display: flex;
  }

  .quote-icon {
    width: 15px;
    margin-right: 35px;
    cursor: pointer;
    fill: black;
  }

  .refresh {
    transition: ease 0.5s;
    &.spin {
      animation: spin 0.5s linear;
    }

    @keyframes spin {
      from {
        transform: rotate(0);
        fill: white;
      }
      to {
        transform: rotate(360deg);
        fill: #42cdca;
      }
    }
  }

  .tweet {
    color: black;
  }
}
