.quote-container {
  width: 100%;
  max-width: 800px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 15px;
  min-height: 250px;
  display: flex;
  flex-direction: column;

  .quote-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      color: white;
      font-size: 1.3em;
      transition: 0.3s ease;
    }
  }

  .icon-menu-container {
    position: relative;
  }

  .icon-menu {
    width: 200px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 30px;
    border-radius: 7.5px;
    span,a {
      display: block;
      padding: 15px;
      border-radius: 7.5px;
      color: #b2b2b2;
      font-family: "Roboto";
      font-size: 0.8em;

      &:hover {
        background: #f2f2f2;
      }
    }
  }

  .affirmation {
    color: white;
    font-family: "Roboto";
    font-size: 1.7em;
    margin-bottom: 10px;
  }

  .quote {
    font-size: 0.9em;
    color: white;
    display: inline-block;
    margin-bottom: 20px;
    font-family: "Roboto";
    display: block;
  }

  .quote-icon-container {
    display: flex;
    display: none;
  }

  .quote-icon {
    width: 15px;
    margin-right: 35px;
    cursor: pointer;
    fill: black;
  }

  .verse {
    color: white;
    font-weight: bold;
    font-family: "Roboto";
  }

  .passage-1 {
    font-weight: bold;
    margin-top: 30px;
  }

  .refresh {
    transition: ease 0.5s;
    &.spin {
      animation: spin 0.5s linear;
    }

    @keyframes spin {
      from {
        transform: rotate(0);
        fill: white;
      }
      to {
        transform: rotate(360deg);
        fill: #42cdca;
      }
    }
  }

  .tweet {
    color: black;
  }
}
