.SignUp{
        height: 100%;
        margin-left: 70px;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        background: #1b1c21;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}